<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
    integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <script>
    window.sessionRecorderConfig = {
      websiteId: "r3AsnnnWtUEczfsn",
      apiUrl: "http://sebastianrcnt.iptime.org:3000",
    };
  </script>
  <script src="http://sebastianrcnt.iptime.org:3000/bundle/index.js" crossorigin="anonymous" defer></script>
</head>
<style>
  html {
    padding: 20px;
  }
</style>

<body>
  {{{body}}}
</body>

</html>